.table th,
.table td {
  width: 50%;
}

.table-responsive {
    max-height: 70vh; 
    overflow-y: auto;
}

.highlight-row:hover {
  background-color: steelblue;
  cursor: pointer;
  font-weight: bold;
}