<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="col-md-6">Wilcards</th>
                        <th class="col-md-6">Values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of files">
                        <td class="col-md-6">{{ item.key }}</td>
                        <td class="col-md-6">{{ item.value | abbreviate:30 }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>