<div class="container mt-4">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="col-md-6">Filepaths</th>
                        <th class="col-md-6">Content Preview</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="highlight-row" (click)="loadFile(item)" *ngFor="let item of files">
                        <td class="col-md-6">{{ item.name }}</td>
                        <td class="col-md-6">{{ item.content | abbreviate:40 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>